################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Portfolio-Devdeepsinh-Jadeja/FileContentIndex/2ee44a7c-4d41-469a-9a84-066d71e9bf60.vsidx
/.vs/Portfolio-Devdeepsinh-Jadeja/FileContentIndex/e3f8671b-eba1-4b83-86f6-adabd400bd53.vsidx
/.vs/Portfolio-Devdeepsinh-Jadeja/v17/.wsuo
/.vs/Portfolio-Devdeepsinh-Jadeja/FileContentIndex/f9f55707-28a0-4f90-b6c7-1ed6ccf3ec82.vsidx
/.vs/Portfolio-Devdeepsinh-Jadeja/FileContentIndex/00d5c02e-c53b-4f53-b73b-91d5cdf97625.vsidx
/.vs/Portfolio-Devdeepsinh-Jadeja/FileContentIndex/1ee7cd8c-1f73-437c-9bc8-2bb96860d795.vsidx
/.vs/Portfolio-Devdeepsinh-Jadeja/FileContentIndex/b5ac243f-8267-4008-bac0-26e1090239ec.vsidx
/.vs/Portfolio-Devdeepsinh-Jadeja/FileContentIndex/c421364f-1969-438a-b1e8-795b3c3c4126.vsidx
/.vs/Portfolio-Devdeepsinh-Jadeja/FileContentIndex
/.vs/Portfolio-Devdeepsinh-Jadeja/config
/.vs
